*{
    margin: 0;
    padding: 0;

}

.nav-ul{
    background-color: aqua;
    text-decoration: none;
    display: flex;  
}
.nav-right{
    justify-content: right; 
}
.nav-ul li{
   padding: 15px;
   list-style: none;
   cursor: pointer;
   
}
.nav-link{
    text-decoration: none;
    color: #000;
}
.footer{
    bottom: 0;
    position: absolute;
    width: 100%;
    justify-content: center;
    background-color: aqua;
    align-items: center;
    text-align: center;
    padding: 10px 0;
}


/* form */
.form{
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    padding: 10px;
}
.form-box{
    display: block;
    /* background-color: #000; */
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.input-form-box{
    display: block;
    margin: 10px 0;
    font-size: 20px;
    border: 2px solid skyblue;
    padding: 8px 5px;
}

.signup-btn{
    padding: 10px 15px;
    background-color: rgb(25, 182, 244);
    color: whitesmoke;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
    cursor: pointer;
    border: 0;
}
.login-btn {
    padding: 10px 15px;
    background-color: rgb(25, 182, 244);
    color: whitesmoke;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
    cursor: pointer;
    border: 0;
}
.Productlist{
    text-align: center;
    margin-top: 10px;
    padding: 5px;
}
.product-list-item{
    display: inline-block;
    border: 1px solid blue;
    padding: 5px;
    height: 3vh;
    width: 10%;
    
}
